{% set content = page.header.content %}

<div class="d-flex align-items-center justify-content-start w-lg-100 hero_part" style="background: url('{{ url('theme://images/banner.png') }}') center/cover no-repeat; min-height: 100vh;">
  <div class="text-center text-white p-5" >
  <h1 class="text-white" > {{content.owner_name}} </h1>
   <h3 class="text-white"> I’m a <span id="rotating-text"></span><span class="cursor">|</span> </h>
  </div>
</div>
